<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Metronic | Page Layouts - Blank Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- 开发智能提示需要，真正发布的时候需要删除-->
    <link href="../resources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="../resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="../resources/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/css/workhour_manage.css" rel="stylesheet" type="text/css"/>
    <link href="../resources/css/course_custom.css" rel="stylesheet" type="text/css"/>

</head>


<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">

<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- header结束 -->

<div class="clearfix"></div>


<!-- CONTENT START -->
<div class="page-container">

    <!-- 侧边导航栏 -->
    <div th:replace="sidebar::sidebar"></div>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <!-- important 在这里开始正文的内容-->

            <!-- BEGIN SAMPLE TABLE -->
            <div class="col-md-12">
                <p class="h1">用户故事-第二次迭代</p>
                <div class="fixed-margin">
                    <p class="h4">
                        作业描述
                        <!-- if teacher -->
                        <a href="#edit"><span class="glyphicon glyphicon-edit"></span></a>
                    </p>
                    <p>经过第一次迭代的回顾会议后，用户故事可能有所更改。请将第二次迭代的用户故事上交。</p>
                    <p>命名格式：group_(小组号)_story_iter2.xls</p>
                </div>
                <div class="fixed-margin">
                    <p class="h5">开始时间：<time class="datetime">2016-07-08 16:00</time></p>
                    <p class="h5">结束时间：<time class="datetime">2016-07-08 20:00</time></p>
                </div>
                <div class="fixed-margin">
                    <p class="h5">总分：5.0
                        <!-- if TEACHER -->
                    <span class="glyphicon glyphicon-edit"></span>
                        <!-- end if TEACHER-->
                    </p>
                </div>
                <div class="fixed-margin">
                    <!-- 作业提交统计表 -->
                    <div class="col-md-12">
                        <table id="resTable" class="display table table-striped" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>提交者</th>
                                <th>提交时间</th>
                                <th>文件链接</th>
                            </tr>
                            </thead>
                            <tbody th:if="teamType == 'personal'">
                            <tr th:each="ass:${assignmentAnswers}">
                                <td th:text="${teamType}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- 作业提交统计表结束 -->
                </div>


                <!-- if STUDENT -->
                <div th:if="${'student' == session.userType}" >
                    <!-- if SUBMIT_AS_FILE -->
                    <div class="fixed-margin">
                        <span class="h5 bold">提交状态：</span>
                        <span class="h5 text-muted">已提交</span>
                        <span class="h5 bold text-danger">未提交</span>
                        <!--div>
                            <p class="h5">上次提交：group_02_story_iter2.xls
                            <span class="text-muted">at 2016-07-08 16:19</span></p>
                            <p class="h5">准备上传：group_02_story_iter2.xls</p>
                        </div-->
                        <div>
                            <label class="control-label">Select File</label>
                            <input id="input-file" name="resource" type="file" class="file" data-show-preview="false">
                        </div>
                        <!-- END REPLACEMENT -->
                    </div>
                    <!-- end if -->

                    <!-- else if SUBMIT_AS_RICHTEXT -->
                    <div class="fixed-margin">
                        <p class="h5">作业内容</p>
                        <div class="container-fluid">
                            <div class="portlet-body">
                                <div>
                                    <script id="container" name="content" type="text/plain"></script>
                                    <script type="text/javascript" charset="utf-8" th:src="@{ue/ueditor.config.js}"></script>
                                    <script type="text/javascript" charset="utf-8" th:src="@{ue/ueditor.all.min.js}"> </script>
                                    <script>var ue = UE.getEditor('container');</script>
                                </div>
                                <div>
                                    <button id="btn_richtext_submit" class="btn btn-primary">提交</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div class="row pull-right">
                                <button class="btn btn-default">保存</button>
                                <button class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </div>
                    <!-- end if -->
                </div>
                <!-- end if STUDENT -->
            </div>
            <!-- END SAMPLE TABLE -->

        </div>
        <!-- END CONTENT -->

    </div>
    <!-- CONTENT END -->



</div>
<!-- END CONTENT BODY -->

<!-- footer-->
<div th:replace="footer::footer"></div>
<!-- 把公用的js包含进来,包含一些初始化的工作 -->
<div th:include="common::js"></div>
<!-- footer end -->



</div>
</body>

<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/fileinput.js}"></script>
<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
<script th:src="@{/resources/DataTables/datatables.js}"></script>
<script>

    /* BEGIN RICH TEXT
    $(document).ready(function () {
        $("#btn_richtext_submit").click(function() {
            alert(UE.getEditor('container').getAllHtml());
            $.post("ue_submit_test.do",
                    {
                        content: UE.getEditor('container').getAllHtml()
                    },
                    function (data, status) {
                        alert("Data: " + data + "\nStatus: " + status);
                    }
            );
        });
    });
    // END RICH TEXT

    // BEGIN FILE UPLOAD
    $(document).ready(function() {
        $("#input-file").fileinput({
            language: "zh",
            uploadUrl: "/saveResource_action.do",
            uploadAsync: true,
            maxFileCount: 5,
            autoReplace: true
        }).on("fileuploaded", function (e, data) {
            if (data['response']['action'] == 'add') {
                var datalist = data['response']['data'];
                for (var i = 0; i < datalist.length; i++) {
                    table.row.add(
                            datalist[i]
                    ).draw()
                }
            }
        })

        var table;
        var fileType = ['aac', 'ace', 'ai', 'ain', 'amr', 'app', 'arj',
            'asf', 'asp', 'aspx', 'av', 'avi', 'bin', 'bmp', 'cab', 'cad',
            'cat', 'cdr', 'chm', 'com', 'css', 'cur', 'dat', 'db', 'dll',
            'dmv', 'docx', 'dot', 'dps', 'dpt', 'dwg', 'dxf', 'emf', 'eps',
            'et', 'ett', 'exe', 'fla', 'gif', 'hlp', 'htm', 'html', 'icl',
            'ico', 'img', 'inf', 'ini', 'iso', 'jpeg', 'jpg', 'js', 'm3u',
            'max', 'mdb', 'mde', 'mht', 'mid', 'midi', 'mox', 'mp3', 'mp4',
            'mpeg', 'mpg', 'msi', 'nrg', 'ocx', 'ogg', 'ogm', 'pdf', 'png',
            'pot', 'ppt', 'pptx', 'psd', 'pub', 'qt', 'ra', 'ram', 'rar',
            'rm', 'rmvb', 'rtf', 'swf', 'tar', 'tif', 'tiff', 'txt', 'url',
            'vbs', 'vsd', 'vss', 'vst', 'wav', 'wave', 'wm', 'wma', 'wmd',
            'wmf', 'wmv', 'wps', 'wpt', 'xls', 'xlsx', 'xlt', 'xml', 'zip'];


    });*/
    // END FILE UPLOAD
    /*$(document).ready(function () {
        table = $('#resTable').DataTable({
            dom: "Bfrtip",
            ajax: "/show_resource.do",
            paging: false,
            info: false,
            searching: false,
            columns: [
                {
                    data: "fileName",
                    render: function (data, type, row) {
                        var ext = data.match('\\.([^\\.]*)$');
                        if (ext == null)
                            ext = 'folder';
                        else if (fileType.indexOf(ext) == -1)
                            ext = 'unknown';
                        else ext = ext[1];
                        return '<img src="resources/image/filetype/' + ext + '.gif" />' + data;
                    }
                },
                {
                    data: "fileCTime"
                },
                {
                    data: "fileSize"
                }],
            select: true,
            buttons: [
                {
                    text: "上传文件",
                    action: function (e, dt, node, config) {
                        $('#uploadModal').modal();
                    }
                }
            ]
        });
    });
    */

    $("#resTable").dataTable();
</script>

</html>
