<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Metronic | Page Layouts - Blank Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- 开发智能提示需要，真正发布的时候需要删除-->
    <link href="resources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="resources/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/workhour_manage.css" rel="stylesheet" type="text/css"/>

</head>
<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">
<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- header结束 -->
<div class="clearfix"></div>
<div class="page-container">
    <!-- 侧边导航栏 -->
    <div th:replace="sidebar::sidebar"></div>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                <p th:text="${assignment.heading}"></p>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="assignment.do">作业列表</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">作业信息</a>
                    </li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <!-- important 在这里开始正文的内容-->
            <div class="row">
                <div class="col-md-11">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">编辑作业</div>
                        </div>
                        <div class="portlet-body form">
                            <form th:action="@{handin.do}" class="form-horizontal" role="form" method="post" id="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="number" class="col-md-2 control-label" >作业编号</label>
                                        <div class="col-md-4">
                                            <span class="form-control-static" name="number" id="number" th:text="${assignment.idInCourse}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="heading" class="col-md-2 control-label" >作业名称</label>
                                        <div class="col-md-4">
                                            <span class="form-control-static" name="heading" id="heading" th:text="${assignment.heading}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="startTime" class="col-md-2 control-label">开始时间</label>
                                        <div class="col-md-4">
                                            <div id="start-time-saver" th:value="${assignment.startTime}"></div>
                                            <span class="form-control-static" name="startTime" id="startTime" th:text="${assignment.startTime}"></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="endTime" class="col-md-2 control-label">结束时间</label>
                                        <div class="col-md-4">
                                            <div id="end-time-saver" th:value="${assignment.endTime}"></div>
                                            <span class="form-control-static" name="endTime" id="endTime" th:text="${assignment.endTime}"></span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="text" class="col-md-2 control-label">提交内容</label>
                                        <div class="col-md-6">
                                            <textarea id="text" name="text" class="form-control" rows="3" ></textarea>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="text" class="col-md-2 control-label">上传文件</label>
                                        <div class="col-md-6">
                                        <input id="input-file" name="resource" type="file" class="file" data-show-preview="false">
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-6">
                                            <button id="submit-btn" type="button" class="btn green" onclick="assign()">确认提交</button>
                                            <button id="return-btn" type="button" class="btn red col-md-offset-1" onclick="javascript:window.location.href='assignment.do';">返回前页</button>
                                        </div>
                                    </div>
                                    <input class="form-control invisible" readonly type="text" name="id" id="id" th:value="${assignment.id}" >
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- footer-->
<div th:replace="footer::footer"></div>
<!-- 把公用的js包含进来,包含一些初始化的工作 -->
<div th:include="common::js"></div>
<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/fileinput.js}"></script>
<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
<script th:src="@{/resources/DataTables/datatables.js}"></script>

<script type="application/javascript">
    function assign(){

        if(comptime(getNowStr(), $("#start-time-saver").attr("value").substring(0, 19)))
        {
            alert("未到开始时间！");
            return ;
        }

        if(comptime($("#end-time-saver").attr("value").substring(0, 19), getNowStr())){
            alert("已过结束时间！");
            return ;
        }

        var data= $.param($('#form').serializeArray());
        $.ajax({
            url:"savePAnswer_action.do",
            type:"POST",
            data:data,
            dataType:"json",
            success:function(){
                layer.alert("上传成功");
            },
            failure:function () {
                layer.alert("提交失败");
            }
        });
    }

    var assign_id = $("#id").attr("value");
    $("#input-file").fileinput({
        language: "zh",
        uploadUrl: "savePAttach_action.do",
        uploadExtraData: {id: assign_id},
        uploadAsync: true,
        maxFileCount: 1,
        autoReplace: true
    }).on("fileuploaded", function (e, data) {

    })

    function getNowStr(){
        var d = new Date();
        var vYear = d.getFullYear();
        var vMon = d.getMonth() + 1;
        var vDay = d.getDate();
        var h = d.getHours();
        var m = d.getMinutes();
        var se = d.getSeconds();
        var s = vYear+"-"+(vMon<10 ? "0" + vMon : vMon)+"-"+(vDay<10 ? "0"+ vDay : vDay)+" "+(h<10 ? "0"+ h : h)+":"+(m<10 ? "0" + m : m)+":"+(se<10 ? "0" +se : se);
        return s;
    }

    function comptime(beginTime, endTime) {
        // yyyy-MM-hh HH:mm:ss
        var beginTimes = beginTime.substring(0, 10).split('-');
        var endTimes = endTime.substring(0, 10).split('-');

        beginTime = beginTimes[1] + '-' + beginTimes[2] + '-' + beginTimes[0] + ' ' + beginTime.substring(10, 19);
        endTime = endTimes[1] + '-' + endTimes[2] + '-' + endTimes[0] + ' ' + endTime.substring(10, 19);

        var a = (Date.parse(endTime) - Date.parse(beginTime)) / 3600 / 1000;
        if (a < 0) {
            return false;
        } else if (a > 0) {
            return true;
        } else if (a == 0) {
            return true;
        } else {
            return 'exception'
        }
    }


</script>


</div>
</body>
</html>
