<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Metronic | Page Layouts - Blank Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- 开发智能提示需要，真正发布的时候需要删除-->
    <link href="resources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="resources/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/workhour_manage.css" rel="stylesheet" type="text/css"/>
    <link href="resources/treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css"/>
    <link href="resources/treetable/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css"/>

</head>
<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">
<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- header结束 -->
<div class="clearfix"></div>
<div class="page-container">
    <!-- 侧边导航栏 -->
    <div th:replace="sidebar::sidebar"></div>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Blank Page <small>blank page</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Page Layouts</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Blank Page</a>
                    </li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <!-- important 在这里开始正文的内容-->
            <div class="row">
                <div class="col-md-12">
                    <table id="resTable" class="display table table-striped" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>文件</th>
                            <th>修改时间</th>
                            <th>大小</th>
                        </tr>
                        </thead>
                    </table>
                </div>


            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>

<!-- Modal-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalHead">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="uploadModalHead">上传文件</h4>
            </div>
            <div class="modal-body">
                <label class="control-label">Select File</label>
                <input id="input-file" name="resource" type="file" class="file" data-show-preview="false">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- footer-->
<div th:replace="footer::footer"></div>
<!-- 把公用的js包含进来,包含一些初始化的工作 -->
<div th:include="common::js"></div>
</div>
</body>

<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/fileinput.js}"></script>
<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
<script th:src="@{/resources/DataTables/datatables.js}"></script>

<script type="text/javascript">

    $("#input-file").fileinput({
        language: "zh",
        uploadUrl: "/saveResource_action.do",
        uploadAsync: true,
        maxFileCount: 5,
        autoReplace: true
    }).on("fileuploaded", function (e, data) {
        if (data['response']['action'] == 'add') {
            var datalist = data['response']['data'];
            for (var i=0; i<datalist.length; i++) {
                table.row.add(
                    datalist[i]
                ).draw()
            }
        }
    })

    var table;
    var fileType = ['aac','ace','ai','ain','amr','app','arj',
        'asf','asp','aspx','av','avi','bin','bmp','cab','cad',
        'cat','cdr','chm','com','css','cur','dat','db','dll',
        'dmv','docx','dot','dps','dpt','dwg','dxf','emf','eps',
        'et','ett','exe','fla','gif','hlp','htm','html','icl',
        'ico','img','inf','ini','iso','jpeg','jpg','js','m3u',
        'max','mdb','mde','mht','mid','midi','mox','mp3','mp4',
        'mpeg','mpg','msi','nrg','ocx','ogg','ogm','pdf','png',
        'pot','ppt','pptx','psd','pub','qt','ra','ram','rar',
        'rm','rmvb','rtf','swf','tar','tif','tiff','txt','url',
        'vbs','vsd','vss','vst','wav','wave','wm','wma','wmd',
        'wmf','wmv','wps','wpt','xls','xlsx','xlt','xml','zip'];

    $(document).ready(function () {
        table = $('#resTable').DataTable({
            dom: "Bfrtip",
            ajax: "/show_resource.do",
            paging: false,
            info: false,
            searching: false,
            columns:[
                {
                    data: "fileName",
                    render: function(data, type, row) {
                        var ext = data.match('\\.([^\\.]*)$');
                        if (ext==null)
                                ext = 'folder';
                        else if (fileType.indexOf(ext)==-1)
                                ext = 'unknown';
                        else ext = ext[1];
                        return '<img src="resources/image/filetype/'+ext+'.gif" />'+data;
                    }
                },
                {
                    data: "fileCTime"
                },
                {
                    data: "fileSize"
                }],
            select: true,
            buttons: [
                {
                    text:"上传文件",
                    action: function(e, dt, node, config) {
                        $('#uploadModal').modal();
                    }
                }
            ]
        });
    });

</script>
</html>