<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Metronic | Page Layouts - Blank Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- 开发智能提示需要，真正发布的时候需要删除-->
    <link href="resources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="resources/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="resources/css/workhour_manage.css" rel="stylesheet" type="text/css"/>
    <link href="resources/treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css"/>
    <link href="resources/treetable/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css"/>

</head>
<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">
<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- header结束 -->
<div class="clearfix"></div>
<div class="page-container">
    <!-- 侧边导航栏 -->
    <div th:replace="sidebar::sidebar"></div>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                Blank Page <small>blank page</small>
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="index.html">Home</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Page Layouts</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">Blank Page</a>
                    </li>
                </ul>
            </div>
            <!-- END PAGE HEADER-->
            <!-- BEGIN PAGE CONTENT-->
            <!-- important 在这里开始正文的内容-->
            <div class="row">
                <div class="col-md-12">
                    <table id="example-advanced">
                        <caption>
                            <a href="#" onclick="jQuery('#example-advanced').treetable('expandAll'); return false;">全部展开</a>
                            <a href="#" onclick="jQuery('#example-advanced').treetable('collapseAll'); return false;">全部折叠</a>
                        </caption>
                        <thead>
                        <tr>
                            <th>名称</th>
                            <th>种类</th>
                            <th>大小</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-12">
                    <label class="control-label">Select File</label>
                    <input id="input-file" name="resource" type="file" class="file" data-show-preview="false">
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- footer-->
<div th:replace="footer::footer"></div>
<!-- 把公用的js包含进来,包含一些初始化的工作 -->
<div th:include="common::js"></div>
</div>
</body>

<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/fileinput.js}"></script>
<script th:src="@{/resources/assets/global/plugins/bootstrap-fileinput/js/locales/zh.js}"></script>
<script th:src="@{/resources/treetable/js/jquery.treetable.js}"></script>
<script type="text/javascript">

    var refreshTable = function refreshTable(data){
        var table = $("#example-advanced");
        table.treetable({expandable: true});

        var tbody = table.find("tbody");
        tbody.empty();

        for(var i=1; i<=data.length; i++)
        {
            var row = data[i-1];
            var span = $('<span></span>', {
                class: row[1],
                text: row[0],
            });
            var td1 = $('<td></td>').append(span);
            var td2 = $('<td></td>', {
                text: row[1]=='folder'?'文件夹':'文件'
            });
            var td3 = $('<td></td>', {
                text: row[2]
            });

            var tr = $('<tr></tr>');
            tr.attr("data-tt-id",i);

            tr.append(td1);
            tr.append(td2);
            tr.append(td3);


            tbody.append(tr);
        }
    }


    $("#input-file").fileinput({
        language: "zh",
        uploadUrl: "/saveResource_action.do",
        uploadAsync: true,
        maxFileCount: 1,
        autoReplace: true
    }).on("fileuploaded", function(e, data){
        var resp = data.response;
        refreshTable(resp);
        alert("上传成功！");
    })

    $.ajax({
        type:"post",
        url:"show_resource.do",
        data:"",
        async:false,
        success: refreshTable
    })




    // Highlight selected row
    $("#example-advanced tbody").on("click", "tr", function() {
        $(".selected").not(this).removeClass("selected");
        $(this).toggleClass("selected");
    });


</script>
</html>

