<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>团队</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <link href="/resources/css/my_dataTable.css" rel="stylesheet" type="text/css" />

    <!-- 开发智能提示需要，真正发布的时候需要删除-->
    <link href="/resources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="/resources/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/css/workhour_manage.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/treetable/css/jquery.treetable.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/treetable/css/jquery.treetable.theme.default.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/plugins/jstree/dist/themes/default/style.css" rel="stylesheet" type="text/css" />

</head>
<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">
<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- header结束 -->
<div class="clearfix"></div>
<div class="page-container">
    <!-- 侧边导航栏 -->
    <div th:replace="sidebar::sidebar"></div>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

            <div th:if="${hasTeam == 'true'}">
                <!--团队负责人页开始-->
                <div th:if="${isTeamLeader == true}">
                    <!-- BEGIN PAGE HEADER-->
                    <h3 class="page-title" id="team-id-storage" th:text="'团队 - '+ ${theTeam.teamName}" th:value="${theTeam.id}"></h3>

                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="#">我的团队</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN PAGE CONTENT-->
                    <!-- important 在这里开始正文的内容-->

                    <!--Modal-->
                    <div class="modal fade" id="applicationModal" tabindex="-1" role="dialog" aria-labelledby="applicationModalHead">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title" id="applicationModalHead">当前申请</h4>
                                </div>
                                <div class="modal-body">
                                    <div th:each="app,i:${applications}" th:id="'app_'+${i.index}" th:value="${app.teamApplicationPK.studentId}" class="panel-collapse collapse in">
                                        <div class="row well">
                                            <div class="col-md-10">
                                                <p th:text="'申请人：'+${app.realName}"></p>
                                                <p th:text="'申请信息：'+${app.description}"></p>
                                            </div>
                                            <div class="col-md-2">
                                                <button type="button" class="btn btn-primary btn-block btn-approve">
                                                    <i class="glyphicon glyphicon-ok"></i>同意
                                                </button>
                                                <button type="button" class="btn btn-danger btn-block btn-deny">
                                                    <i class="glyphicon glyphicon-trash"></i>拒绝
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Modal-->


                    <!--<div class="pull-right">
                        <a href="#" class="btn blue"><i class="m-icon-swapright m-icon-white"></i>处理申请</a>
                    </div>-->
                    <table id="teammem_table" class="table table-striped table-bordered" style="margin: 0 0 0 0;">
                        <thead>
                        <tr>
                            <th>队员学号</th>
                            <th>队员姓名</th>
                            <th>负责人</th>
                        </tr>
                        </thead>
                        <tbody id="homework_show_case">
                        <tr th:each="stu:${studentsIn}" >
                            <td th:text="${stu.id}"></td>
                            <td th:text="${stu.realName}"></td>
                            <td th:text="${stu.id==theTeam.teamleaderId?'√':'×'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--团队负责人页结束-->

                <!--团队队员页开始-->
                <div th:if="${isTeamLeader == false}">


                    <!-- BEGIN PAGE HEADER-->
                    <h3 class="page-title" th:text="'团队 - '+ ${theTeam.teamName}"></h3>

                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="#">我的团队</a>
                            </li>
                        </ul>
                    </div>
                    <!-- END PAGE HEADER-->
                    <!-- BEGIN PAGE CONTENT-->
                    <!-- important 在这里开始正文的内容-->

                    <table id="teammate_table" class="table table-striped table-bordered" style="margin: 0 0 0 0;">
                        <thead>
                        <tr>
                            <th>队员学号</th>
                            <th>队员姓名</th>
                            <th>负责人</th>
                        </tr>
                        </thead>
                        <tbody id="homework_show_case">
                        <tr th:each="stu:${studentsIn}" >
                            <td th:text="${stu.id}"></td>
                            <td th:text="${stu.realName}"></td>
                            <td th:text="${stu.id==theTeam.teamleaderId?'√':'×'}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--团队队员页结束-->
            </div>

            <!-- 团队列表页开始 -->
            <div th:if="${hasTeam == 'false'}">
                <!-- BEGIN PAGE HEADER-->
                <h3 class="page-title" th:text="'所有团队 - '+${session.course_name}"></h3>

                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="#">所有团队</a>
                        </li>
                    </ul>
                </div>
                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <!-- important 在这里开始正文的内容-->

                <!--Modal-->
                <div class="modal fade" id="applicationDesModal" tabindex="-1" role="dialog" aria-labelledby="applicationDesModalHead">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="applicationDesModalHead">申请加入团队</h4>
                            </div>
                            <div class="modal-body">
                                <label>申请信息描述</label>
                                <textarea id="applicationDescription" class="form-control" rows="3"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-application" class="btn btn-primary">申请</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal-->

                <!--Modal-->
                <div class="modal fade" id="newTeamModal" tabindex="-1" role="dialog" aria-labelledby="newTeamModalHead">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4 class="modal-title" id="newTeamModalHead">创建团队</h4>
                            </div>
                            <div class="modal-body">
                                <label>新团队名称：</label>
                                <input type="text" id="newTeamName" class="form-control"></input>
                                <label>新团队描述：</label>
                                <textarea id="newTeamDescription" class="form-control" rows="5"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btn-newFolder" class="btn btn-primary">确定</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Modal-->

                <table id="teams_table" class="table table-striped table-bordered" style="margin: 0 0 0 0;">
                    <thead>
                    <tr>
                        <th>团队编号</th>
                        <th>团队名称</th>
                        <th>团队描述</th>
                        <th>团队负责人</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="homework_show_case">
                    <tr th:each="team:${list}" >
                        <td th:text="${team['team_id']}"></td>
                        <td th:text="${team['team_name']}"></td>
                        <td th:text="${team['team_description']}"></td>
                        <td th:text="${team['teamleader_name']}"></td>
                        <td><button class="btn btn-primary btn-send-app">申请加入</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <!-- 团队列表页结束 -->



            <!-- END PAGE CONTENT-->
        </div>
    </div>
    <!-- END CONTENT -->
</div>


<!-- footer-->
<div th:replace="footer::footer"></div>
<!-- 把公用的js包含进来,包含一些初始化的工作 -->
<div th:include="common::js"></div>
</div>
</body>


<script th:src="@{/resources/DataTables/datatables.js}"></script>


<script type="text/javascript" th:inline="javascript">
    var appAmount = [[${appAmount}]];

    var teammemTable = $('#teammem_table').DataTable({
        dom: 'B<"pull-right"f>rt<"pull-right"p>',
        language: {
            lengthMenu: "每页 _MENU_ 条记录",
            zeroRecords: "没有找到记录",
            info: "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            infoEmpty: "无记录",
            infoFiltered: "(从 _MAX_ 条记录过滤)",
            search: "搜索",
            processing: "处理中……",
            loadingRecords: "加载中……",
            paginate: {
                first: "首页",
                last: "尾页",
                next: "下一页",
                previous: "上一页"
            },
            aria: {
                sortAscending:  "升序排列",
                sortDescending: "降序排列"
            }
        },
        buttons: [
            {
                text: '当前申请'+ (appAmount>0?'<span class="badge">'+appAmount+'</span>':''),
                className: 'btn btn-primary',
                action: function(e, dt, node, config) {
                    $('#applicationModal').modal();
                }
            }
        ]
    });

    $('#teammate_table').DataTable({
        dom: '<"pull-right"f>rt<"pull-right"p>',
        language: {
            lengthMenu: "每页 _MENU_ 条记录",
            zeroRecords: "没有找到记录",
            info: "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            infoEmpty: "无记录",
            infoFiltered: "(从 _MAX_ 条记录过滤)",
            search: "搜索",
            processing: "处理中……",
            loadingRecords: "加载中……",
            paginate: {
                first: "首页",
                last: "尾页",
                next: "下一页",
                previous: "上一页"
            },
            aria: {
                sortAscending:  "升序排列",
                sortDescending: "降序排列"
            }
        }
    });

    var teamsTable = $('#teams_table').DataTable({
        dom: 'B<"pull-right"f>rt<"pull-right"p>',
        columnDefs: [
            {
                visible: false,
                searchable: false,
                targets: 0
            },
            {
                width: "250px",
                targets: 1
            },
            {
                width: "150px",
                targets: 3
            },
            {
                width: "120px",
                targets: 4
            }
        ],
        language: {
            lengthMenu: "每页 _MENU_ 条记录",
            zeroRecords: "没有找到记录",
            info: "第 _PAGE_ 页 ( 总共 _PAGES_ 页 )",
            infoEmpty: "无记录",
            infoFiltered: "(从 _MAX_ 条记录过滤)",
            search: "搜索",
            processing: "处理中……",
            loadingRecords: "加载中……",
            paginate: {
                first: "首页",
                last: "尾页",
                next: "下一页",
                previous: "上一页"
            },
            aria: {
                sortAscending:  "升序排列",
                sortDescending: "降序排列"
            }
        },
        buttons: [
            {
                text: '<i class="glyphicon glyphicon-user"></i>创建团队',
                className: 'btn btn-primary',
                action: function(e, dt, node, config) {
                    $('#newTeamModal').modal();
                }
            }
        ]
    });

    var itemId;

    $(document).on('click', '.btn-send-app', function () {
        var team = teamsTable.row($(this).closest('tr')).data();
        teamId = team[0];
        $('#applicationDesModal').modal();
    });

    $(document).on("click", "#btn-application", function() {
        var text = $('#applicationDescription').val();
        if(text == '')
        {
            layer.alert("请填写申请信息");
            return;
        }
        $.ajax({
            url: "apply_team.do",
            method: "post",
            data: {
                team_id: teamId,
                description: text
            },
            success: function() {
                $('#applicationDesModal').modal('toggle');
                layer.alert("申请成功！");
            },
            error: function() {
                $('#applicationDesModal').modal('toggle');
                layer.alert("您已经申请过该团队，请耐心等待！");
            }
        });
    });

    $(document).on('click', '.btn-approve', function () {
        var collapse = $(this).closest('.panel-collapse');
        var studentId = collapse.attr("value");
        var teamId = $('#team-id-storage').attr("value");
        $.ajax({
            url: "commit_team_app.do",
            method: "post",
            data: {
                student_id: studentId,
                team_id: teamId
            },
            success: function() {
                collapse.collapse('toggle');
                window.location.reload();
            }
        });
    });

    $(document).on('click', '#btn-newFolder', function () {
        var teamName = $('#newTeamName').val();
        var teamDescription = $('#newTeamDescription').val();
        $.ajax({
            url: "team_create.do",
            method: "post",
            data: {
                team_name: teamName,
                team_description: teamDescription
            },
            success: function() {
                window.location.reload();
            },
            error: function() {
                layer.alert("创建团队失败");
            }
        });
    });

</script>
</html>