<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>创建团队</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- 开发智能提示需要，真正发布的时候需要删除-->
    <link href="resources/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="resources/assets/admin/layout/css/themes/default.css" rel="stylesheet"
          type="text/css"/>
    <link href="resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

    <!---->

</head>
<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">
<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header :: header"></div>
<!-- header结束 -->
<div class="clearfix"></div>
<div class="page-container">
    <!-- 侧边导航栏 -->
    <div th:replace="sidebar::sidebar"></div>
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content" style="min-height: 1295px">
            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <!-- BEGIN PAGE HEADER-->
            <h3 class="page-title">
                创建团队信息
            </h3>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="#">学生</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    <li>
                        <a href="#">团队</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption">创建团队</div>
                        </div>
                        <div class="portlet-body form">
                            <form th:action="@{/createTeam}" class="form-horizontal" role="form" method="post" id="form">
                                <div class="form-body">
                                    <div class="form-group">
                                        <label for="student_id" class="col-md-2 control-label" >学生id</label>
                                        <div class="col-md-4">
                                            <input class="form-control" type="text" name="student_id" id="student_id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="course_id" class="col-md-2 control-label" >课程id</label>
                                        <div class="col-md-4">
                                            <input name="course_id" id="course_id" type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="team_id" class="col-md-2 control-label">团队id</label>
                                        <div class="col-md-4">
                                            <input  type="text" id="team_id" class="form-control" name="team_id">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="team_name" class="col-md-2 control-label">团队名字</label>
                                        <div class="col-md-4">
                                            <input  type="text" id="team_name" class="form-control" name="team_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="description" class="col-md-2 control-label">团队详细描述</label>
                                        <div class="col-md-4">
                                            <input  type="textArea" id="description" class="form-control" name="description">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-6">
                                            <button id="submit-btn" type="button" class="btn green" onclick="createTeam()">确认创建</button>
                                            <button id="return-btn" type="button" class="btn red col-md-offset-1" onclick="javascript:window.history.back(-1);">返回前页</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- footer-->
    <div th:replace="footer::footer"></div>
    <!-- 把公用的js包含进来,包含一些初始化的工作 -->
    <div th:include="common::js"></div>
    <script type="application/javascript">
        function createTeam(){
                var data=$.param($('#form').serializeArray());
                $.ajax({
                    url:"createTeam.do",
                    type:"POST",
                    data:data,
                    dataType:"json",
                    success:function(result){

                        layer.alert();
                    }
                });
        }
    </script>
</div>
</body>
</html>