<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Metronic | Page Layouts - Blank Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- 开发智能提示需要，真正发布的时候需要删除-->

    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="/resources/assets/global/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/global/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="/resources/assets/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/assets/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/css/workhour_manage.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/css/course_custom.css" rel="stylesheet" type="text/css"/>
    <link href="/resources/DataTables/datatables.css" rel="stylesheet" type="text/css"/>

</head>



<body class="page-header-fixed page-quick-sidebar-over-content m-body-font">

<!--常用的公用的css-->
<div th:include="common::css"></div>
<!-- header -->
<div th:replace="header::header"></div>
<!-- header结束 -->

<div class="clearfix"></div>

<!-- CONTENT START -->
<div class="page-container">

    <!-- 侧边导航栏 -->
    <div class="page-sidebar-wrapper" th:fragment="sidebar">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->

            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler">
                    </div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                <!-- DOC: To remove the search box from the sidebar you just need to completely remove the below "sidebar-search-wrapper" LI element -->
                <li class="sidebar-search-wrapper">
                    <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
                    <!-- DOC: Apply "sidebar-search-bordered" class the below search form to have bordered search box -->
                    <!-- DOC: Apply "sidebar-search-bordered sidebar-search-solid" class the below search form to have bordered & solid search box -->
                    <form class="sidebar-search " action="extra_search.html" method="POST">
                        <a href="javascript:;" class="remove">
                            <i class="icon-close"></i>
                        </a>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search...">
							<span class="input-group-btn">
							<a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
							</span>
                        </div>
                    </form>
                    <!-- END RESPONSIVE QUICK SEARCH FORM -->
                </li>

                <li class="start active">
                    <a href="workspace.do"> <i class="icon-pencil"></i> <span class="title">工作空间</span> <span class="arrow"></span> </a>
                </li>
                <li class="start">
                    <a href="javascript:;"> <i class="fa fa-home"></i> <span class="title">个人中心</span> <span class="arrow"></span> </a>
                    <ul class="sub-menu">
                        <li><a href="#ChangePassword">修改密码</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <!-- IF ADMIN -->
                <li th:if = "${session.userType == 'admin'}" class="heading">
                    <h3 class="uppercase">管理后台</h3>
                </li>
                <li th:if = "${session.userType == 'admin'}" class="start">
                    <a href="javascript:;"> <i class="glyphicon glyphicon-tasks"></i> <span class="title">课程管理</span> <span class="arrow"></span> </a>
                </li>
                <li th:if = "${session.userType == 'admin'}" class="start">
                    <a href="javascript:;"> <i class="fa fa-print"></i> <span class="title">教师管理</span> <span class="arrow"></span> </a>
                </li>
                <li th:if = "${session.userType == 'admin'}" class="start">
                    <a href="javascript:;"> <i class="fa fa-file"></i> <span class="title">学生管理</span> <span class="arrow"></span> </a>
                </li>
                <!-- END IF -->
                <!-- IF STUDENT or TEACHER -->
                <li th:if = "${session.userType != 'admin'}" class="start">
                    <a href="javascript:;"> <i class="fa fa-home"></i> <span class="title">我的课程</span> <span class="arrow"></span> </a>
                    <ul class="sub-menu">
                        <li th:each="cs:${courses}">
                            <a th:id="${cs.id}" class="course_select_btn" th:text="${cs.courseName}"></a>
                        </li>
                    </ul>
                </li>
                <!-- end if -->

            </ul>
            <!-- END SIDEBAR MENU -->
        </div>

    </div>

    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
            <div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                            <h4 class="modal-title">Modal title</h4>
                        </div>
                        <div class="modal-body">
                            Widget settings form goes here
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn blue">Save changes</button>
                            <button type="button" class="btn default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->

            <!-- BEGIN COURSE TABLE -->
            <div class="col-md-12">
                <p class="h2">课程列表</p>
                <div class="fixed-table-body">
                    <table id="course_table" class="table table-striped table-bordered" style="margin-top: -16px;">
                        <thead>
                        <tr>
                            <th>
                                课程ID
                            </th>
                            <th>
                                课程名称
                            </th>
                            <th>
                                授课教师
                            </th>
                            <th>
                                组队要求
                            </th>
                        </tr>
                        </thead>
                        <tbody id="course_show_case">
                        <tr th:unless="${courses.isEmpty()}" th:each="cs:${courses}">
                            <td th:text="${cs.id}"></td>
                            <td th:text="${cs.courseName}"></td>
                            <td>TEACHER NAME</td>
                            <td>ALLOW TEAM</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- END COURSE TABLE -->

            <!-- BEGIN HOMEWORK TABLE -->
            <!-- if STUDENT -->
            <div th:if="${session.userType == 'student'}" class="col-md-12" style="margin-top: 100px;">
                <p class="h2">作业列表</p>
                <div class="fixed-table-body">
                    <table id="homework_table_student" class="table table-striped table-bordered" style="margin-top: 0px;">
                        <thead>
                        <tr>
                            <th>
                                作业名称
                            </th>
                            <th>
                                所属课程
                            </th>
                            <th>
                                开始时间
                            </th>
                            <th>
                                截止时间
                            </th>
                            <th>
                                提交状态
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="homework_show_case">
                        <tr th:unless="${assignments.isEmpty()}" th:each="ass:${assignments}" >
                            <td th:text="${ass['heading']}"></td>
                            <td th:text="${ass['course_name']}"></td>
                            <td th:text="${ass['start_time']}"></td>
                            <td th:text="${ass['end_time']}"></td>
                            <td th:text="${ass['is_submitted']=='true'?'已提交':'未提交'}"></td>
                            <td>
                                <a th:href="@{assignment_detail.do(assignment_id=${ass['assignment_id']})}">查看</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end if STUDENT -->

            <!-- if TEACHER -->
            <div th:if="${session.userType == 'teacher'}" class="col-md-12" style="margin-top: 100px;">
                <p class="h2">作业列表</p>
                <div class="fixed-table-body">
                    <table id="homework_table" class="table table-striped table-bordered" style="margin-top: 0px;">
                        <thead>
                        <tr>
                            <th>
                                作业名称
                            </th>
                            <th>
                                开始时间
                            </th>
                            <th>
                                截止时间
                            </th>
                            <th>
                                组队要求
                            </th>
                            <th>
                            </th>
                        </tr>
                        </thead>
                        <tbody id="homework_show_case_teacher">
                        <tr th:each="ass:${assignments}">
                            <td th:text="${ass.heading}"></td>
                            <td th:text="${ass.startTime}"></td>
                            <td th:text="${ass.endTime}"></td>
                            <td th:text="${ass.isTeamwork==true?'组队':'个人'}"></td>
                            <td>
                                <a th:href="@{assignment_detail.do(id=${ass.id})}">查看</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end if TEACHER -->
            <!-- END HOMEWORK TABLE -->
            <span class="glyphicon glyphicon-demo"></span>
        </div>
        <!-- END CONTENT -->

    </div>
    <!-- CONTENT END -->


</div>
<!-- END CONTENT BODY -->



<!-- footer-->
<div th:replace="footer::footer"></div>
<!-- 把公用的js包含进来,包含一些初始化的工作 -->
<div th:include="common::js"></div>
<!-- footer end -->

</div>

</body>

<script th:src="@{/resources/DataTables/datatables.js}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#course_table").dataTable();
        $("#homework_table").dataTable();
        $("#homework_table_student").dataTable();
        $(".course_select_btn").each(
                function(){
                    $(this).click(function(){
                        $.get("course_navigate.do",
                                {course_id: $(this).attr("id")},
                                function(response, status, xhr){window.location.href = response;}
                        );
                    });
                });
    });
</script>

</html>
